html {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	background-color:#FDFB93;
}

.text {
	font-family: 'Roboto';
	color: #000000;
}

.textitalic {
	font-family: 'Roboto';
	color: #000000;
	font-style: italic;
}

.title {
	font-size: 50px;
	text-align: center;
	font-style: italic;
	font-style: bold;
	
	/*center*/
	position: fixed;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* makes the entire form invisible and across the entire screen */

.textbox {
	font-size: 30px;
	height: 100%;
	width: 100%;
	background: transparent;
    border: none;
	outline: none;
	cursor: default;
	text-align: center;
	z-index: 1;
	
	/*center*/
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);	
}

.submit {
	height: 30px; 
	width: 300px; 
	background-color: #6dff82;
	border-radius: 20px;
	outline: none;
	border: 3px solid #000000;
	z-index: 2;

	/*center*/
	position: fixed;
	top: 58%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.submit2 {
	height: 30px; 
	width: 300px; 
	border: none; 
	outline: none;
	background-color: #ff6c53;
	border-radius: 20px;
	border: 3px solid #000000;
	z-index: 2;

	/*center*/
	position: fixed;
	top: 62.5%;
	left: 50%;
	transform: translate(-50%, -50%);
}